
{% extends 'blog/main.html' %}
{% load static %}
{% block title %}
  Sardor Auto Systems
{% endblock title %}
{% block content %}


<body class="main-layout">
  <!-- loader  -->

  <!-- end loader -->

  <!-- end header inner -->
  <!-- end header -->
  <!-- banner -->
  <section class="banner_main ">
     <div class="container ">
        <div class="row d_flex">
           <div class="col-md-12">
              <div class="text-bg">
                 <h1>Barcha Avtomobillar ma'lumot tizimi bizda</h1>

                 <span>Karshi city 2022</span>
                 <p>

                    <head></head>
                 </p>
                 <a href="/all_avto">Barcha avtomobillar</a>
              </div>
           </div>
        </div>
     </div>
  </section>
  </div>
  <!-- end banner -->
  <!-- car -->
  <div  class="car">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h2>Avtomobillar savdosini tizimlashtirish</h2>
                 <span></span>
              </div>
           </div>
        </div>
        <div class="row">
         
         
         <div class="col-md-4 padding_leri">
            <div class="car_box">
               <figure><img src="./../../static/images/car_img2.png" alt="#"/></figure>
               <h3>Audi</h3>
            </div>
         </div>

         <div class="col-md-4 padding_leri">
            <div class="car_box">
               <figure><img src="./../../static/images/car_img3.png" alt="#"/></figure>
               <h3>BMW </h3>
            </div>
         </div>


         <div class="col-md-4 padding_leri">
            <div class="car_box">
               <figure><img src="./../../static/images/car_img1.png" alt="#"/></figure>
               <h3>Hyundai</h3>
            </div>
         </div>
        
            
           
           {% comment %} <div class="col-md-4 padding_leri">
              <div class="car_box">
                 <figure><img src="images/car_img2.png" alt="#"/></figure>
                 <h3>Audi</h3>
              </div>
           </div>
           <div class="col-md-4 padding_leri">
              <div class="car_box">
                 <figure><img src="images/car_img3.png" alt="#"/></figure>
                 <h3>Bmw x5</h3>
              </div>
           </div> {% endcomment %}
        </div>
     </div>
  </div>
  <!-- end car -->
  <!-- bestCar -->

  <!-- end bestCar -->
  <!-- choose  section -->
  <div class="choose ">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h2>Tizim haqida</h2>
                 <span>Ushbu Avto tizim - avtomobillar oldi sotti savdosi, haridor va sotuvchini bir biriga bog'lash va vaqtini tejashi orqali avtomobil haqida kerakli ma'lumotlarni online va offline bilib olish imkonini beradi. </span>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-12">
              <div class="choose_box">
                 <span>01</span>
                 <p>Haridor istalgan avtomobil haqida bilib olish uchun sotuvchidan so'rashi shart emas. O'ziga kerakli ma'lumotlarni ushbu platforma orqali bilib olishi va kelishishi mumkin. </p>
              </div>
           </div>
           <div class="col-md-12">
              <div class="choose_box">
                 <span>02</span>
                 <p>Sotuvchi haridorlar bilan faqat narx kelishuvi haqida kelishishi yoki savdo qilishi mumkin, har bir haridorga qayta-qayta avtomobil harakteristikasini aytishi shart emas. </p>
              </div>
           </div>
           <div class="col-md-12">
              <div class="choose_box">
                 <span>03</span>
                 <p>Platformani istalgan masofadan boshqarish va ishlatish mumkin. </p>
              </div>
           </div>
        </div>
     </div>
  </div>
  <center>
 <b> <h5>Dasturchi: <a href="tel:+998996671529"><span style=" color:red;">Azizbek G'ulomov</span><a> </b></h5>

   <!--Biz haqimizda bo'limi-->
  {% comment %} <div class="cutomer">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h2> Foydalanuvchilar biz haqimizda</h2>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-12">
              <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                 </ol>
                 <div class="carousel-inner">
                    <div class="carousel-item active">
                       <div class="container">
                          <div class="carousel-caption ">
                             <div class="cross_img">
                                <figure><img src="images/cross_img.png" alt="#"/></figure>
                             </div>
                             <div class="our cross_layout">
                                <div class="test_box">
                                   <h4>Due markes</h4>
                                   <span>Rental</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                   <i><img src="images/te1.png" alt="#"/></i>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="carousel-item">
                       <div class="container">
                          <div class="carousel-caption">
                             <div class="cross_img">
                                <figure><img src="images/cross_img.png" alt="#"/></figure>
                             </div>
                             <div class="our cross_layout">
                                <div class="test_box">
                                   <h4>Due markes</h4>
                                   <span>Rental</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                   <i><img src="images/te1.png" alt="#"/></i>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="carousel-item">
                       <div class="container">
                          <div class="carousel-caption">
                             <div class="cross_img">
                                <figure><img src="images/cross_img.png" alt="#"/></figure>
                             </div>
                             <div class="our cross_layout">
                                <div class="test_box">
                                   <h4>Due markes</h4>
                                   <span>Rental</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                   <i><img src="images/te1.png" alt="#"/></i>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
                 </a>
                 <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
                 </a>
              </div>
           </div>
        </div>
     </div>
  </div> {% endcomment %}
 <!-- tepaga chiqish tugmasi -->

 
 <script>
   //Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
 </script>
 <style>
   #btn-back-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
    }
 </style>
 <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>
</body>

{% endblock content %}