<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    span {
        color: red;
    }
</style>
{% extends 'blog/basic.html' %}
{% block title %}
    Qidiruv | {{ block.super }}
{% endblock title %}
{% block content %}<center>
    <div class="row sm-3">
        {% for post in posts %}
        
            <div class="col-sm-3 mt-5">
                <div class="card">
                    <img style="height: 250px!important;" src="{{ post.rasm.url }}" class="card-img-top" alt="...">
                    <div>
                        <div class="card-body">
                            <h6 style="text-align:center;font-weight:bolder" class="card-title">{{ post.nomi }}</h6>
                            <p style="text-align:center;font-weight:bolder; font-size: 10px;"
                               class="card-title">{{ post.narx }} so'm</p>
                            <p style="text-align:center;font-size: 9px;" class="card-title">{{ post.manzil }}</p>
                            <a style="width:100%;" href="{% url 'avto_haqida' post.id %}" class="btn btn-primary">Batafsil </a>
                        </div>
                    </div>
                </div>
            </div>
          </center>
        {% endfor %}
{% endblock content %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>